:root {
    --background-color: #EBEBEB;
    --navbackground: #F9F7F3;
    --color: #000;
    --index: #EBEBEB;
    --input: #6c6c6c;
  }
  
  /* 暗模式 */
  .dark-theme {
    --background-color: #212121;
    --navbackground: #292929;
    --color: #fff;
    --index: #474747;
    --input: #bebebe;
  }

h1{
    color: var(--color);
}

.vid-container2 {
    display: flex;
    justify-content: center;  /* 水平置中 */
    align-items: center;      /* 垂直置中 */
    height: 100vh;            /* 占滿整個螢幕高度 */
    background-color: var(--background-color); /* 設定背景色 */
}

.inner-container2 {
    position: relative;
    width: 400px; /* 根據需要調整大小 */
    height: 450px; /* 根據需要調整大小 */
    margin: 0 auto; /* 讓容器在頁面中置中 */
}

.box2 {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: var(--color);
    background: rgba(255, 255, 255, 0.576);
    padding: 30px 0px;
    border-radius: 20px;
}

.box2 h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.box2 input {
    display: block;
    width: 300px;
    margin: 8px auto;
    padding: 15px;
    background: var(--index);
    color: var(--input);
    border: 0;
    border-radius: 10px;
}

.box2 input:focus,
.box2 input:active,
.box2 button:focus,
.box2 button:active {
    outline: none;
    border-radius: 10px;
}

.login2 {
    background: #595BD4;
    border: 0;
    color: var(--color);
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.password-container2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 13%;
}

.password-container2 input {
    width: 300px; /* 與 Username 輸入框一致 */
    flex: none; /* 確保輸入框寬度不是根據父容器擴展 */
    padding-right: 60px; /* 留出空間給按鈕 */
}

.toggle-password2 {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    /* 按鈕顏色 */
    font-size: 0.9em;
    border-radius: 20px;
}

.icon2{
    width: 22px;
    margin-right: -20px;
}


/* 確定按鈕 */
.login2 {
    background: #595BD4;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    border-radius: 8px;
}

.indexbutton2{
    background-color: #ffffff00;
    color: #565bea;
    border: none;
    margin-left: 44%;
    margin-top: 10px;
    cursor: pointer;
    text-decoration:underline;
}

.indexbutton2:hover{
    color: #1c1f6b;
}

.logoicon2 {
    position: absolute;
    top: -50px; /* 調整為適當的負值，使圖標疊在外框上方 */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* 根據需要調整圖標大小 */
    z-index: 10; /* 確保圖標在最上方顯示 */
  }