:root{
    --header: #f5f5f5;
    --headerhover: #e0e0e0;
    --body: #f5f5f5;
    --color: #000;
}
.dark-theme{
    --header: #5e5d5d;
    --headerhover: #3e3e3ea4;
    --body: #5e5d5d;
    --color: #fff;
}
/* 外部容器样式 */
.dropdowns-container1 {
    padding: 10px 20px; /* 调整 padding 以控制内容的位置 */
    width: 98%;
    margin-bottom: 20px;
    border-radius: 20px;
}

hr{
    color: var(--color);
}

/* 标题样式 */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* 与 dropdown 保留适当空隙 */
    color: var(--color); /* 可以根据需求调整颜色 */

}

/* 每个 dropdown 容器样式 */
.dropdown-container2 {
    border-radius: 10px;
    box-shadow: none;
    background-color: var(--body);
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .dropdown-container2 {
    width: 100%;
}
}

/* 标题区域样式 */
.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%; /* 填满 dropdown-container 宽度 */
    margin-bottom: 10px;
    background-color: var(--header);
    border-radius: 10px;
}

.dropdown-header:hover {
    background-color: var(--headerhover);
}

/* 标题文字样式 */
.dropdown-title {
    font-weight: bold;
    font-size: 16px;
    color: var(--color);
    
}

/* 箭头样式 */
.dropdown-arrow {
    font-size: 30px;
    color: var(--color);
}

/* 展开内容样式 */
.dropdown-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease; /* 加長過渡時間 */
    margin-top: 10px;
    padding: 0 20px;
    padding-bottom: 8px;
    border-radius: 10px;
    color: var(--color);
    margin-bottom: 20px;
}

/* 当展开时调整 max-height */
.dropdown-content.open {
    max-height: 5000px; /* 根据内容需要进行调整，以容纳所有文本 */
}
.container1 {
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    height: 85vh;
    overflow-y: auto; /* 啟用垂直滾動 */
  }



  .container1::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
    margin-right: 30px;
  }

  /* 滑桿在滾動時出現的效果 */
  .container1:hover::-webkit-scrollbar {
    display: block;
    width: 5px;
    /* 右側捲軸寬度 */
  }

  .container1:hover::-webkit-scrollbar-thumb {
    background: #565665;
    /* 滑桿顏色 */
  }

  .section2{
    padding-right: 5px;
  }

  .imgadd{
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
  }
  .imgclass{
    width: 25%;
    margin-top: 10px;
    border-radius: 10px;
  }

